<!--Utilizando a base.html como base dessa página de html -->
{% extends "global/base.html" %}

{% block texto %} {{ text }} {% endblock texto %}

{% block texto2 %}
<div class="hometextos">
    <h2>Aqui, você encontrará dois subporjetos para atingir os requisistos obrigatórios e alguns diferenciais do meu desafio para entrar na Fábrica de Sofware de 2024.2. <br/>
    O primeiro subprojeto está em um app que consome dados de uma API (com Django) e e o outro subprojeto consta em outro app que implementa um CRUD simples (com Django Rest Framework). Explore as funcionalidades e sinta-se à vontade para experimentar! Clique nos botões abaixo para explorar as funcionalidades dos subprojetos. Ou navegue pelo menu na parte superior para navegar pelo projeto.</h2>

    <div class="botoes">
        <a href="{% url "posts:home" %}">
            <button class="button1">View Posts</button>
         </a>
         <a href="http://127.0.0.1:8000/estudantes/">
            <button class="button2">View CRUD</button>
         </a>
    </div>
</div>
{% endblock texto2 %}